@tailwind base;
@tailwind components;
@tailwind utilities;

/* npx tailwindcss -i ./src/input.css -o ./src/output.css --watch */

body{
    background-color: #FFE554;
    font-family: zen-kaku-gothic-new, sans-serif;
    font-weight: 700;
    font-style: normal;
}

.bg {
    background-image: url(./images/bg.webp); 
    background-repeat: repeat; 
    background-size: 50%;
}

.toppan {
    font-family: toppan-bunkyu-gothic-pr6n, serif;
    font-weight: 400;
    font-style: normal;
}

.toppan-bold {
    font-family: toppan-bunkyu-gothic-pr6n, serif;
    font-weight: 600;
    font-style: normal;
}

.toppan-ebold {
    font-family: toppan-bunkyu-midashi-go-std, sans-serif;
    font-weight: 900;
    font-style: normal;
}

.dnp {
    font-family: dnp-shuei-gothic-gin-std, sans-serif;
    font-weight: 400;
    font-style: normal;
}

.dnp-bold {
    font-family: dnp-shuei-gothic-gin-std, sans-serif;
    font-weight: 600;
    font-style: normal;
}

.futura {
    font-family: futura-pt, sans-serif;
    font-weight: 600;
    font-style: normal;
}

.zen-r {
    font-family: zen-kaku-gothic-new, sans-serif;
    font-weight: 400;
    font-style: normal;
}

.zen-m {
    font-family: zen-kaku-gothic-new, sans-serif;
    font-weight: 500;
    font-style: normal;
}

@layer utilities {
    .dashed-h {
        height: 1px;
        background-image: repeating-linear-gradient(
        to right,
        theme(colors.white) 0 4px,   /* dash */
        transparent 4px 14px            /* gap を大きくする → 10px間隔 */
        );
    }

    .dashed-v {
        width: 1px;
        background-image: repeating-linear-gradient(
        to bottom,
        theme(colors.white) 0 4px,
        transparent 4px 14px
        );
    }
}

